<div class="container-fluid padding">
    <div class="row">      
        <div class="col-12">
            <h1>Registration</h1>
            <hr>           
        </div>        
    </div>
</div>

<form class="" action="/AddRegistration" method="post">

<div class="container-fluid border">
     <div class="row margin-bottom">
         <div class="col-sm-12 error-color">
             <span class="">{{messages.msg}}</span>
         </div>
         
            <div class="col-12 error-color">
                <span class=""><strong>{{messages.msg-three}}</strong></span>
            </div>

          <div class="col-sm-12 error-color-2">
             <span class="">{{messages.msgTwo}}</span>
         </div>        
    </div>
    
    <div class="form-group row well">

        <label for="inputReg" class="col-sm-3 col-form-label">Registration Code</label>

        <div class="col-sm-6">
            <input type="text" id="inputReg" name="regNum" value="{{regs}}" placeholder="..." class="form-control margin-left color"></input>
        </div>

        <div class="col-sm-1">
            <input class="btn btn-success margin-left pull-right" type="submit" value="Add"></input> 
        </div> 
    </div>
</div>
</form> 

<div class="container-fluid border">
    
<div class="form-group row">

    <label for="inputPassword3" class="col-sm-3 col-form-label">Select Town</label>
        
        <div class="col-sm-6">
            <select onchange="filters()" class="custom-select margin-left" name="display_town">                 
                <option value="All" name="All">All</option>
                    {{#each filterTowns}}               
                    <option value="{{town}}" name="town_row">{{town}}</option>
                    {{/each}}            
            </select>
        </div> 
    </div>

{{!-- <form class="" action="/AddTown" method="post"> 

<div class="form-group row">
    <label for="inputReg" class="col-sm-3 margin-top col-form-label">Town</label>
    
        <div class="col-3">
            <input type="text" id="inputTown" name="town" value="{{town}}" placeholder="..." class="form-control margin-left margin-top color"></input>
        </div>        

        <label for="inputReg" class="margin-top-dec col-sm-1 margin-left">Tag</label>
         <div class="col-sm-2">
            <input type="text" id="inputRegPrefix" name="tag" value="{{tag}}" placeholder="..." class="form-control margin-top color"></input>
        </div>

        <div class="row">
           <div class="col-1">
            <input class="btn btn-success margin-top margin-left-dec" type="submit" value="Add"></input> 
        </div>  
        </div>
        </div>    
</form> --}}


    <div class="row">
        <div class="col-12">
           <button onclick="showAllReg()" class="btn btn-success pull-right margin-top">Show All</button>
           <button type="button" class="btn btn-warning margin-top" data-toggle="modal" data-target="#resetModal">Reset</button>
         
                <div id="regPlate">
                    {{#each reg_rows}}
                    <span class="plate">{{reg_number}}</span>
                    {{/each}}
                    
                    {{#each reg_row}}
                    <span class="plate">{{reg_number}}</span>
                    {{/each}}   
                  
                </div>
        </div>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetModalLabel">Warning!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    Are you sure you want to reset? Resetting will delete all registration numbers.
                </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/reset"><button class="btn btn-warning" type="submit" name="button">Reset</button></a>
      </div>
    </div>
  </div>
</div>

<script>


    function showReg() {
    var x = document.getElementById("regPlate");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
    function filters(){
        var town = document.querySelector('.custom-select').value;
        location.href = '/filter/' + town
    }
    function showAllReg() {
        location.href = '/showAllReg'
    }

</script>




 

